* {
    font-family: sans-serif;
    font-size: 12;
    padding: 0;
    margin: 0;
    /* color: #fff; */
  }
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}

h4{
    margin-top: 20px;
}
.container{
    margin-top: 8%;
}
.about-us{
    padding: 20px;
    margin: 30px;
}
.why-choose-us{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    margin-top: 20px;
}
.our-experts{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}
.person{
    padding: 10px;
    height: 400px;
}
.team-photo{
    width: 100px;
    border-radius: 50%;
    align-items: center;
}
.text-container{
    width:30%;
    padding: 20px;
    transition: 0.5s;
    border-radius: 10px;
    color: #333;
    animation: text-animation 1s linear;
}
.image-container{
    animation: image-animation 1s linear;
}
.text-container:hover{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    
}
@keyframes text-animation {
    0%{
        transform: translateX(100%);
        box-shadow:  0 0 10px 1px rgba(0,0,0,0.2);
        background-color: white;
    }
    90%{
        box-shadow:  0 0 10px 1px rgba(0,0,0,0.2);
        background-color: white;
    }
    100%{
        transform: translateX(0);
    }
    
}
@keyframes image-animation {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
    
}
.upper-section{
    margin-top: 6%;
    margin-bottom: 100px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@media (max-width: 489px) {
    .image-container{
        align-items: center;
    }
    .why-choose-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        margin-top: 20px;
    }
    .our-experts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .person{
        padding: 10px;
        height: 150px;
        text-align: center;
    }
    .text-container{
        width:100%;
        padding: 20px;
        transition: 0.5s;
        border-radius: 10px;
        color: #333;
        animation: text-animation 1s linear;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}