* {
  margin: 0;
}
header {
  width: 100%;
}
body {
  background-image: url("stock.jpg");
}
.nav-bar {
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0);
}
.nav-bar .search input {
  width: 220px;
  height: 26px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  border: none;
}
.nav-bar .search input:hover {
  border: none;
}
.search-btn {
  width: 50px;
  height: 50px;
}
.log-in-button {
  color: white;
  margin-left: 5px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
  padding-right: 15px;
}
.nav-bar .search .search-button {
  width: 90px;
  height: 37px;
  color: white;
  background: transparent;
  border: 1px solid rgb(41, 155, 249);
  border-radius: 5px;
}
.nav-bar .search .search-button:hover {
  background-color: rgb(49, 141, 216);
  transition: 0.5s;
}
.nav-bar .nav-bar-links {
  padding: 5px;
}
.nav-bar .nav-bar-links .link {
  color: #333;
  padding-right: 15px;
  margin: 0 8px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 50;
  color: white;
}
.nav-bar .nav-bar-links a:hover {
  border: 1px;
}
.nav-bar .nav-bar-registration {
  padding: 5px;
}
.nav-bar .nav-bar-registration .link {
  padding: 5px;
  margin: 0 8px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.nav-bar .nav-bar-registration .link:first-child {
  padding: 9px 15px;
  color: white;
  border-radius: 7px;
  font-size: 15px;
}
.nav-bar .nav-bar-registration .link:nth-child(2) {
  padding: 9px 15px;
  color: white;
  border-radius: 7px;
  font-size: 15px;
}
.nav-bar .nav-bar-registration .link:nth-child(3) {
  padding: 9px 20px;
  color: red;
  background-color: white;
  border-radius: 7px;
  font-size: 15px;
}
.back-ground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("stock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.back-ground .intro-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-hire {
  margin-left: 800px;
  margin-right: 10px;
  padding: 15px;
  border-radius: 10px;
  border-width: 1px;
  background: transparent;
  cursor: pointer;
  color: white;
  border-color: white;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  border-color: rgba(0, 0, 0, 0.3);
}
.btn-hire:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
.btn-earn {
  padding: 15px 20px;
  border-radius: 10px;
  border-width: 1px;
  background: transparent;
  cursor: pointer;
  color: rgb(0, 4, 7);
  color: rgb(49, 141, 216);

  border-color: rgb(49, 141, 216);
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  box-shadow: 0 0 5px 0 rgb(49, 141, 216);
  /* background-color: rgb(233, 136, 10); */
}
.btn-earn:hover {
  box-shadow: 0 0 10px 1px rgb(49, 141, 216);
  transition: 0.5s;
}

.work-with {
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  display: flex;
}
.work-with img {
  margin: 15px;
}
.description {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgb(241, 241, 244);
}
.main {
  background: rgb(241, 241, 244);
}
.top-word h3 {
  color: #333;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
.info-page p {
  padding: 5px;
  margin-top: 5px;
  font-size: 13px;
}
.info-page button {
  border: 0.5px solid;
  padding: 7px;
  background-color: transparent;
  /* background-color: rgb(242, 0, 145); */
}

.info-page button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  transition: 300ms;
}
.location-btn {
  margin-right: 7px;
}

/* aasd */
.temp-css {
  width: 100%;
  height: 90vh;
  background-color: lavenderblush;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/photo-1586769852836-bc069f19e1b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  font-size: medium;
}
.temp-css2 {
  width: 100%;
  height: 90vh;
  background-color: lavenderblush;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  font-size: medium;
  font-family: cursive;
}
.recent-jobs {
  position: relative;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
/* .test {
  position: relative;
  width: 90%;
} */
.fa.fa-arrow-left,
.fa.fa-arrow-right {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 3;
}
.fa.fa-arrow-right {
  top: 50%;
  right: 12px;
}
.fa.fa-arrow-left {
  top: 50%;
  left: 5px;
}
.fa.fa-arrow-left:hover,
.fa.fa-arrow-right:hover {
  font-size: xx-large;
}
.job-container {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  position: relative;
  scroll-behavior: auto;

}

.recent-jobs h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.job-card {
  min-width: 350px;
  max-width: 450px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
}
.job-card:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  transition: 300ms;
  border: solid 1px white;
}
.job-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.job-card h4 {
  font-size: 15px;
  color: rgb(156, 152, 152);
}
.job-card li {
  font-size: 13px;
  color: rgb(143, 140, 140);
}
.job-card p {
  font-size: 13px;
  color: rgb(86, 85, 85);
}
.job-card button {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 10px;
}
.job-card button:first-child {
  border-color: green;
  color: green;
  border-width: 1px;
  cursor: pointer;
}
.job-card button:first-child:hover {
  background-color: green;
  border-color: green;
  color: white;
  transition: 500ms;
}
.job-card button:nth-child(2) {
  border-color: rgb(41, 155, 249);
  color: rgb(41, 155, 249);
  border-width: 1px;
  cursor: pointer;
}
.job-card button:nth-child(2):hover {
  background-color: rgb(41, 155, 249);
  color: white;
  transition: 500ms;
}
.explore-more-jobs {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-more-jobs button {
  padding: 20px 50px;
  margin: 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
}
.explore-more-jobs button:first-child {
  background-color: rgb(69, 163, 239);
  color: white;
  border: none;
  cursor: pointer;
}
.explore-more-jobs button:first-child:hover {
  background-color: rgb(11, 138, 243);
  transition: 500ms;
}
.explore-more-jobs button:nth-child(2) {
  background-color: green;
  color: white;
  border: none;
}
.explore-more-jobs button:nth-child(2):hover {
  background-color: rgb(1, 92, 1);
  transition: 500ms;
}

.description {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.description .info-page {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 30px;
  align-items: center;
}
/*
  min-width: 350px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white; 
  */
.description .info-page .post-a-job,
.description .info-page .choose-freelancer,
.description .info-page .pay-safly {
  height: 480px;
  width: 350px;
  padding-top: 30px;
  padding-bottom: 50px;
  /* padding-left: 10px;
  padding-right: 10px; */

  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
}

.description .info-page .logos,
.description .info-page h2 {
  margin-left: 50px;
}
.description .info-page .post-a-job:hover,
.description .info-page .choose-freelancer:hover,
.description .info-page .pay-safly:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  transition: 300ms;
  border: solid 1px white;
}

@media (max-width: 480px) {
  .job-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
