* {
  font-family: sans-serif;
  font-size: 12;
  transition: 0.2s linear;
  /* color: #fff; */
}

/* end of navigation section */
/* footer section */
.job-container:nth-child(2) {
  margin-top: 90px;
}
.job-container {
  padding: 20px;
  text-align: center;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  background: rgb(241, 241, 244);
  border-radius: 10px;
}
.job-container:nth-child(3) {
  margin-top: 0;
}
.job-card {
  /* min-width: 350px; */
  /* max-width: 450px; */
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  gap: 15px;
  /*  */
}
.job-card:first-child {
  animation: slide-right 1s ease-in;
}
.job-card:nth-child(4) {
  animation: slide-left 1s linear;
}
.job-card:nth-child(2) {
  animation: appear 1s linear;
}
.job-card:nth-child(3) {
  animation: appear 1s linear;
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
  }
}
.job-card:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  transition: 300ms;
  border: solid 1px white;
}
.job-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.job-card h4 {
  font-size: 15px;
  color: rgb(156, 152, 152);
}
.job-card li {
  font-size: 13px;
  color: rgb(143, 140, 140);
}
.job-card p {
  font-size: 13px;
  color: rgb(86, 85, 85);
}
.job-card a button {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 10px;
}
.job-card button:first-child {
  border-color: green;
  color: green;
  border-width: 1px;
  cursor: pointer;
}
.job-card a button:first-child:hover {
  background-color: green;
  border-color: green;
  color: white;
  transition: 500ms;
}
.job-card a button:nth-child(2) {
  border-color: rgb(41, 155, 249);
  color: rgb(41, 155, 249);
  border-width: 1px;
  cursor: pointer;
}
.job-card button:nth-child(2):hover {
  background-color: rgb(41, 155, 249);
  color: white;
  transition: 500ms;
}

/* .back-ground {
  background: linear-gradient(to top left, #444451, #7f7fa8);
} */

.box {
  background: linear-gradient(to top left, #484851, #7f7fa8);
}
.box .xob {
  /* margin: 20px;*/
  background: linear-gradient(to top left, #e5e5ea, #c3c3d4);
  box-shadow: 0px 5px 10px;
}
.box .xob img {
  /* padding: 20px; */
  margin: 20px;
  height: 70px;
}
.box .xob p {
  justify-content: center;
  margin-bottom: 20px;
}
.btn-apply {
  border-width: 1px;
  border-radius: 6px;
  border-color: rgb(69, 163, 239);
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-apply:hover {
  color: white;
  background-color: rgb(69, 163, 239);
}
.explore-more-jobs {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-more-jobs button {
  padding: 20px 50px;
  margin: 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
}
.explore-more-jobs button:first-child {
  background-color: rgb(69, 163, 239);
  color: white;
  border: none;
  cursor: pointer;
}
.explore-more-jobs button:first-child:hover {
  background-color: rgb(11, 138, 243);
  transition: 500ms;
}
.explore-more-jobs button:nth-child(2) {
  background-color: green;
  color: white;
  border: none;
}
.explore-more-jobs button:nth-child(2):hover {
  background-color: rgb(1, 92, 1);
  transition: 500ms;
}
.job-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  color: #75757c;
  gap: 20px;
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    border-color: blue;
    color: green;
    border-width: 1px;
    cursor: pointer;
  }
}
.job-title.x {
  color: #75757c;
}
.job-title .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  border-color: blue;
  color: green;
  border-width: 1px;
  cursor: pointer;
}

.job-title button:hover {
  background-color: green;
  border-color: green;
  color: white;
  transition: 500ms;
}

.our-jobs {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.our-jobs h2 {
  color: #75757c;
  font-size: 40px;
}
.our-jobs .right-side-of-our-jobs {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.our-jobs .right-side-of-our-jobs p {
  color: #75757c;
}
.our-jobs .right-side-of-our-jobs button {
  width: 50%;
  height: 45px;
  border-width: 1px;
  border-color: rgb(69, 163, 239);
  color: rgb(69, 163, 239);
  cursor: pointer;
}
.our-jobs .left-side-of-our-jobs {
  display: flex;
  flex-direction: column;
}
.pages {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pages a button {
  margin: 20px;
}
